<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

  <div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-12">

            <!--Logo-->
            <div id="logo">

                <!--Logo that is shown on the banner-->
                <img src="../assets/img/logo.png" id="banner-logo" alt="Landing Page"/>
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <img src="../assets/img/logo.png" id="navigation-logo" alt="Landing Page"/>
                <!--End of Navigation Logo-->

            </div>
            <!--End of Logo-->



            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>

        </div>
    </div>
  </div><!--End of Header-->


  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1>Grand Library</h1>
              <h2>Grand Library is a virtual library designed by Dali Gossrani for educational  purpose. Enjoy!</h2>
          </div>

          <!--Call to Action-->
          <a href="#" class="button">TAKE A TOUR TODAY</a>
          <!--End Call to Action-->

      </div>

  </div><!--End of Row-->
</header>
