<!-------------------------------------------------------------->

<h1 class="titleT">Our Collection</h1>
<p class="paragraphT">At GrandLibrary, every type of reader can satisfy one-of-a-kind book cravings. Whether your personal passions lean toward new releases by the hottest authors or classics from the old masters, you will find it on Alibris. We have the biggest bestsellers to the hardest-to-find, out-of-print rarities brought to you by thousands of Booksellers around the world. Alibris is where your page-turning prayers will be answered at amazingly low prices. So look around and let GrandLibrary help you find your next favorite book.</p>
<div style="position: absolute; left: 50%; margin-top:-50px;;">
    <div style="position: relative; left: -50%;">
        <h1 class="titleT"></h1>
    </div>
</div>


<div id="wrap">
    <form action="" autocomplete="on">
    <input id="search" name="search" type="text" placeholder="What're we looking for ?" [(ngModel)]='term'>
  <input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>



<ul class="list">
    <li *ngFor="let book of books | test:term" class="list-item">
<div>
    <article class="card">
        <header class="card__thumb">
            <a href="#"><img src="{{book.img}}"/></a>
        </header>

        <div class="card__body">



            <ul>
                <li *ngIf="book.category ==='Drama'"
                    class="drama card__category"> DRAMA
                </li>
                <li *ngIf="book.category ==='Novel'"
                    class="novel card__category">Novel
                </li>
                <li *ngIf="book.category ==='Science fiction'"
                    class="science card__category">Science fiction
                </li>
                <li *ngIf="book.category ==='romantic'"
                    class="romantic card__category">romantic
                </li>
                <li *ngIf="book.category ==='Horror'"
                    class="Horror card__category">Horror
                </li>
                <li *ngIf="book.category ==='Action'"
                class="action card__category">action
                </li>

                <li *ngIf="book.category ==='Art'"
                class="Art card__category">Art
                </li>

                <li *ngIf="book.category ==='Fantasy'"
                class="Fantasy card__category">Fantasy
                </li>

              </ul>
            <h2 class="card__title"><a href="#">{{book.name}}</a> </h2>
            <p>{{book.auteur}}</p>
            <div class="card__subtitle">{{book.prix}} TND</div>
            <div class="card__description">
            <p> 5. Pour the mixture into a non-stick container and then freeze overnight. Take treating your dog a step further by turning it into an ice cream sundae party!</p>
            <a class="btn" (click)='addBookToCart(book)'>Add to cart</a>
          </div>
        </div>
        <footer class="card__footer">
          {{book.quantity}} book in stock
        </footer>
    </article>
</div>
</li>
</ul>
<ul *ngIf="(books | test: term).length === 0">
    <p class="card notfound" >Oooops! We dont have that book yet.</p>
<ul>