.list {
    display: inline-grid;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 1200px;
    margin-right: 40px;

  }

  .list-item {
    background-color: rgb(209, 218, 214);
    display: flex;
    padding: 0.5em;
    margin-bottom: 20px;
  }
  .list-content {
    width: 100%;
  }
  

