<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a>
                        <i class="hamburger material-icons hide-on-med-and-up">menu</i>
                    </a>
                </li>
            </ul>
                <form action="" method="post">
                    <div class="input-field">
                        <input id="search" type="search" name="search">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            <ul class="right">
                <li>
                    <a>
                        <i class="material-icons">notifications_none</i>
                    </a>
                </li>
                <li class="imgProfil">
                    <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Redhead-Girl-Person-People-Woman-Female-Avatar-995164.png" alt="" class="circle">
                </li>
                    <ul id="AccountInfo" class="hidden z-depth-5">
                        <li>sdfsdf</li>
                        <li>fghfgh</li>
                        <li>jkjkljkljkl</li>
                        <li>xwcxwcwxcwxc</li>
                    </ul>
                <li>
                    <a href="">
                        <i class="material-icons">exit_to_app</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!--
<div class="container">

<p>Nom du livre <input type="text" class="form-control mr-sm-2" placeholder="Entrer le nom du livre" [(ngModel)]='keyword'></p>
<a>Disponibilité :</a>
<div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" value=true class="custom-control-input" [(ngModel)]='dispo'>
    <label class="custom-control-label" for="customRadio1">Oui</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" value=false class="custom-control-input" [(ngModel)]='dispo'>
    <label class="custom-control-label" for="customRadio2">Non</label>
  </div>
  <br>
<button class="btn btn-outline-success my-2 my-sm-0" (click)="filterBooks()">Search</button>
<br><br>
    <ul class="list">
      <li *ngFor="let book of filteredBooks" class="list-item">
        <div class="p-3 mb-2 bg-light text-dark">
            <img src="{{book.img}}" class="rounded mx-auto d-block" width="180px" height="270px">

          <h5 class="card-title">{{book.name}}</h5>
          {{book.auteur}}
          <p class="lead">
              Prix : {{book.prix}} TND</p>
          <p></p>
          Disponible :
          <a *ngIf="book.dispo; else nonDispo">
              <img src="./assets/img/yes.png" width="15px" height="15px">
          </a>
          <ng-template #nonDispo>
              <img src="./assets/img/no.png" width="15px" height="15px">
          </ng-template>
          <br>
          <a class="btn btn-success" (click)='addBookToCart(book)'>Add to cart</a>
        </div>
      </li>
    </ul>
  </div>
-->
